@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
.menu_1 {
  background-color: #1A2E05;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px #B1B6C1;
  -moz-box-shadow: 0 1px 3px #B1B6C1;
  -ms-box-shadow: 0 1px 3px #B1B6C1;
  -o-box-shadow: 0 1px 3px #B1B6C1;
  box-shadow: 0 1px 3px #B1B6C1;
}
.menu_1 img {
  width: auto;
  height: 40px;
}
.menu_1 .menu-empresa:after {
  content: "";
}
.menu_1 .bars {
  color: #E2D057;
  float: right;
  margin-top: 8px;
}
.main_1 {
  min-height: 600px;
  margin-bottom: 50px;
}
.main_1 .caminho {
  padding-top: 35px;
  padding-bottom: 35px;
}
.main_1 .caminho p {
  font: normal 14px Roboto;
  text-align: left;
  color: #000;
}
.main_1 .caminho p .active {
  color: #3A6E07;
  text-decoration: underline;
}
.main_1 .titulo {
  padding-top: 15px;
  padding-bottom: 15px;
}
.main_1 .titulo p {
  font: bold 18px/22px Roboto;
  color: #1A2E05;
}
.main_1 .titulo p:before {
  content: "\f005";
  width: 30px;
  height: 30px;
  color: #3A6E07;
  font-family: 'Font Awesome 5 Free';
  margin-right: 5px;
}
.main_1 .produto {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: -15px;
  margin-left: -15px;
}
.main_1 .produto:nth-child(odd) {
  background-color: #F9F9F9;
}
.main_1 .produto .img-produto {
  vertical-align: middle;
}
.main_1 .produto .descricao-produto {
  height: 1.2px;
  background-color: #E2D057;
  text-align: left;
  margin-top: 22px;
}
.main_1 .produto .descricao-produto span {
  background: #fbfbfb;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  top: -24.5px;
  padding: 0 10px;
  color: #1A2E05;
}
.main_1 .produto .descricao-produto P {
  font-size: 12px;
  color: #000000;
  margin-top: -15px;
  margin-left: 10px;
}
.main_1 .produto .valor {
  color: #1A2E05;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
}
.footer_1 {
  background-color: #1A2E05;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer_1 .versao {
  background-color: #FFAD42;
  font: normal 12px Roboto;
  padding: 5px 10px;
  border-radius: 5px;
}
.footer_1 .logo-mono-branca {
  float: right;
  width: auto;
  height: 30px;
}
.menu_2 {
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 1px 3px #B1B6C1;
  -moz-box-shadow: 0 1px 3px #B1B6C1;
  -ms-box-shadow: 0 1px 3px #B1B6C1;
  -o-box-shadow: 0 1px 3px #B1B6C1;
  box-shadow: 0 1px 3px #B1B6C1;
}
.menu_2 img {
  width: auto;
  height: 40px;
}
.menu_2 .menu-empresa:after {
  content: "";
}
.menu_2 .bars {
  color: #E2D057;
  float: right;
  margin-top: 8px;
}
.main_2 {
  min-height: 600px;
  margin-bottom: 50px;
}
.main_2 .caminho {
  padding-top: 35px;
  padding-bottom: 35px;
}
.main_2 .caminho p {
  font: normal 14px Roboto;
  text-align: left;
  color: #000;
}
.main_2 .caminho p .active {
  color: #3A6E07;
  text-decoration: underline;
}
.main_2 .titulo {
  padding-top: 15px;
  padding-bottom: 15px;
}
.main_2 .titulo p {
  font: bold 18px/22px Roboto;
  color: #1A2E05;
}
.main_2 .titulo p:before {
  content: "\f005";
  width: 30px;
  height: 30px;
  color: #3A6E07;
  font-family: 'Font Awesome 5 Free';
  margin-right: 5px;
}
.main_2 .produto {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: -15px;
  margin-left: -15px;
}
.main_2 .produto:nth-child(odd) {
  background-color: #F9F9F9;
}
.main_2 .produto .img-produto {
  vertical-align: middle;
}
.main_2 .produto .img-produto img {
  border-radius: 50%;
}
.main_2 .produto .descricao-produto {
  height: 1.2px;
  background-color: #E2D057;
  text-align: left;
  margin-top: 22px;
}
.main_2 .produto .descricao-produto span {
  font-size: 22px;
  font-weight: bold;
  background: #fbfbfb;
  position: relative;
  top: -24.5px;
  padding: 0 10px;
  color: #1A2E05;
}
.main_2 .produto .descricao-produto P {
  font-size: 12px;
  color: #000000;
  margin-top: -15px;
  margin-left: 10px;
}
.main_2 .produto .valor {
  color: #1A2E05;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
}
.footer_2 {
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #E2D057;
}
.footer_2 .versao {
  background-color: #1A2E05;
  font: normal 12px Roboto;
  padding: 5px 10px;
  border-radius: 5px;
  color: #FFF;
}
.footer_2 .logo-mono-branca {
  float: right;
  width: auto;
  height: 30px;
}
